<div class="container">
  <div class="item">
    @defer (on viewport; hydrate never) {
      <app-victor />
    } @placeholder {
      <img src="placeholder.svg" alt="Placeholder" />
    } @loading {
      <span>Victor is being loaded.</span>
    } @error {
      <strong>Victor loading error.</strong>
    }
  </div>
  <div class="item">
    @defer (on idle; hydrate on hover) {
      <app-noemie />
    } @placeholder {
      <img src="placeholder.svg" alt="Placeholder" />
    } @loading {
      <span>Noemie is being loaded.</span>
    } @error {
      <strong>Noemie loading error.</strong>
    }
  </div>
  <div class="item">
    @defer (on hover; hydrate on interaction) {
      <app-marcus />
    } @placeholder {
      <img src="placeholder.svg" alt="Placeholder" />
    } @loading {
      <span>Marcus is being loaded.</span>
    } @error {
      <strong>Marcus loading error.</strong>
    }
  </div>
  <div class="item">
    @defer (on viewport; on timer(4200ms); when showJustine(); hydrate on interaction) {
      <app-justine />
    } @placeholder {
      <img src="placeholder.svg" alt="Placeholder" />
    } @loading {
      <span>Justine is being loaded.</span>
    } @error {
      <strong>Justine loading error.</strong>
    }
  </div>
</div>
